__pycache__/AmDB.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/data_loader.cpython-310.pyc
__pycache__/data.cpython-310.pyc
__pycache__/database.cpython-310.pyc
__pycache__/db.cpython-310.pyc
__pycache__/dialogs.cpython-310.pyc
__pycache__/gui.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/ui.cpython-310.pyc
__pycache__/data.cpython-311.pyc
__pycache__/data.cpython-313.pyc
__pycache__/database.cpython-311.pyc
__pycache__/database.cpython-313.pyc
__pycache__/dialogs.cpython-311.pyc
__pycache__/dialogs.cpython-313.pyc
__pycache__/gui.cpython-311.pyc
__pycache__/gui.cpython-313.pyc
__pycache__/settings.cpython-311.pyc
__pycache__/settings.cpython-313.pyc
